{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
<h3 class ="text-white my-5">About Page</h3>
	  <p>Hey! My name is Swapnil.

		This  blog was built to help people get started with building a website or blog so they can help fund their lifestyle. So many people work their fingers to the bone to earn a living, working 40+ hours a week, never seeing their kids grow up and never being able to afford the good things in life.</p>
	</div>
  </div>
</div>

{% endblock content %}